* {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(150, 175, 190);
}

.center {
    text-align: center;
}

.titles {
    font-size: x-large;
    font-weight: 900;
    color: rgb(247, 244, 238);
}


/* table settings */

.table_content {
    background-image: linear-gradient(to right, rgb(236, 226, 226), rgb(90, 131, 160));
    margin: 2rem;
}

.order_list_row:hover {
    background-color: yellow;
}

.field {
    padding-top: 40vh;
}

.filters {
    margin: 2rem;
    background-color: rgb(69, 96, 118);
    padding-bottom: 1rem;
}

.filters ul {
    background-color: rgb(69, 96, 118);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#table_main {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eae7ab
}

th {
    background-color: #ce8526;
    color: rgb(255, 255, 255);
}

.inner {
    font-size: 5px;
    text-align: left;
}

.inner th {
    background-color: #46aa03;
    color: rgb(255, 255, 255);
    border: 1px solid black;
}

.inner tr {
    background-color: #c3deb1;
    color: rgb(17, 15, 15);
    border: 1px solid black;
}