.table_content {
    background-image: linear-gradient(to right, rgb(236, 226, 226), rgb(226, 137, 2));
}

.login {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

.filters {
    background-color: rgb(47, 8, 70);
    color: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eae7ab
}

th {
    background-color: #ce8526;
    color: rgb(255, 255, 255);
}